html {
    scroll-behavior: smooth;
}
html, body {
    background-color: #707070;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 100%;
    width: 100%
}
td, tr {
    width: 100%;
}
img {
    bottom: 0;
    display: inline-block;
}

/* font */

h1 {
    text-align: left;
    font-size: x-large;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 0;
}
p {
    text-align: left;
    font-size: large;
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0.5%;
}
a {
/*     text-align: left;
    background-color: #00719e;
    color: transparent;
    font-size: 20px;
    text-decoration: none;
    background-size: cover; */
    width: 100%;
}
.table-cell h1 {
    color: orange;
}
#projects h1 {
    color: orange;
}

/* div ids */

#main-screen-wrapper {
    background-image: url("DSC_0025.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#text-wrapper {
    padding-top: 20%;
    padding-left: 30%;
}
#quote {
    quotes: U+201C U+201D;
}
#image-wrapper {
    text-align: center;
    width: 100%;
}
#bottom {
    padding-top: 3%;
    padding-bottom: 10%;
    width: 100%;
}
#table {
    width: 98%;
    table-layout: fixed;
    margin-left: 2%;
}
#projects {
    margin-left: 40%;
}
#arrow {
    position: absolute;
}    

/* links */

#social {
    float: none;
    width: 100%;
}
.link {
    float: left;
    width: auto;
    margin-left: 2%;
}
.image {
    height: 32px;
    width: auto;
}
