html, body {
    background-color: #707070;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 100%;
    width: 100%
}
svg {
    height: 32px;
}
body {
    background-image: url("/images/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
}
#top {
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
#icons {
    display: flex;
}
.item {
    width: 33%;
}

/* font */
* {
    font-family: sans-serif;
    color: #ffffff;
    font-size: large;
}
h1 {
    font-size: x-large;
}
.item h1 {
    color: orange;
}
