html, body {
    background-color: #707070;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 100%;
    width: 100%
}
td {
    vertical-align: top;
}
svg {
    height: 32px;
}
#arrow {
    position: absolute;
    bottom: 0;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

/* font */
h1, p {
    text-align: left;
    font-family: sans-serif;
    margin-top: 0;
}
h1 {
    font-size: x-large;
    color: orange;
}
p {
    color: #ffffff;
    font-size: large;
    margin-bottom: 0.5%;
}
#text-wrapper h1 {
    color: #ffffff
}

#main-screen-wrapper {
    background-image: url("/images/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#text-wrapper {
    top: 50%;
    left: 32%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#bottom {
    padding-top: 3%;
    padding-bottom: 10%;
    width: 100%;
}
#table {
    width: 98%;
    table-layout: fixed;
    margin-left: 2%;
}
#contacts {
    display: flex;
}
